<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><title>Admin - Payment List</title></head>
<body>
<h2>All Payments (Admin)</h2>
<table border="1">
    <thead>
    <tr>
        <th>Payment ID</th>
        <th>Order ID</th>
        <th>Method</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="payment : ${payments}">
        <td th:text="${payment.id}"></td>
        <td th:text="${payment.order.id}"></td>
        <td th:text="${payment.method}"></td>
        <td th:text="${payment.status}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>